body {
    margin: 0px;
    background-color: black;
}

/* Standard body text style */
body,
html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
}

a:hover {
    transition: 0.2s;
    color: #383938;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h2 {
    color: #cc9800;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Brandon Grotesque';
    padding-left: 155px;
}

h3 {
    color: #cc9800;
    font-family: 'Brandon Grotesque';
    text-align: center;
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    /* text-decoration: underline; */
}

h4 {
    color: #cc9800;
    font-family: 'Brandon Grotesque';
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    /* text-decoration: underline; */
}

.first-column {
    width: 25%;
    padding-top: 85px;
    padding-left: 30px;
    float: left;
    text-align: center;
}

.second-column {
    width: 75%;
    padding-top: 85px;
    float: right;
    text-align: center;
    display: inline;
}

.grid-container {
    display: grid;

}

.grid-item {
    color: #cc9800;
    font-family: 'Brandon Grotesque';
    font-size: 23px;

}

.grid-item p {
    color: #cc9800;
    font-family: 'Brandon Grotesque';
    text-align: center;
    font-size: 23px;
    /* text-decoration: underline; */
}

.grid-item p2 {
    color: #cc9800;
    font-family: 'Brandon Grotesque';
    text-align: center;
    font-size: 23px;
    /* text-decoration: underline; */
    padding-right: 170px;

}

.item1 {
    grid-column: 1;
    grid-row: 1;
    padding-left: 50px;
}

.item2 {
    grid-column: 1;
    grid-row: 2;
    padding-left: 45x;
    padding-top: 5px;
    /* display:inline-flex; */
}

.item3 {
    grid-column: 3;
    grid-row: 1 / span 2;

}

.calligram {
    max-width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 20px;

}

.logo {
    max-width: 200px;
    height: 65px;
    display: block;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.currentblock {
    color: #cc9800;
    font-size: 17px;
    font-family: sans-serif;
    display: inline-flex;
}

.menu {
    color: white;
    font-size: 7px;
    font-family: sans-serif;
    display: inline-flex;
    text-align: left;
}

.athletics {
    color: white;
    font-size: 7.5px;
    font-family: sans-serif;
    display: inline-flex;
    text-align: left;
    vertical-align: top;
    padding-left: 50px;
}

.calendar {
    color: white;
    font-size: 8px;
    font-family: sans-serif;
    display: inline-flex;
    padding-right: 220px;
    text-align: left;
    text-justify: inter-word;
}

.weather {
    color: #cc9800;
    font-size: 12px;
    font-family: sans-serif;
    display: inline-flex;
    text-align: center;
    vertical-align: bottom;
    padding-left: 80px;
    padding-top: 25px;
}

.counter {
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    display: inline-flex;
    text-align: center;
    vertical-align: top;
}

.student_section {
    color: #cc9800;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    padding-right: 170px;
}

.student_section2 {
    padding-top: 5px;
    padding-right: 210px;
}

.magic-mirror {
    display: inline-flex;
}

.embed-responsive {
    height: 240px !important;

}

.embed-responsive-item {
    height: 240px !important;

}

.signature {
    color: #cc9800;
    font-family: sans-serif;
    text-align: right;
    font-size: 8px;
    padding-right: 215px;
    padding-top: 45px;
    vertical-align: top;
    position: relative;
    bottom: 85px !important;
    /* padding-top:5px; */
}

.schedule {
    display: flex;
    margin-left: 40px;
}