body {
  margin:0px;
  background-color:black;
}
/* Standard body text style */
body,html {
  height: 100%;
  margin:0;
  overflow-x: hidden; /*prevents the creation of a horizontal scroll bar for any page*/
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: #fff;
}

a:hover {
  transition: 0.2s;
  color: #383938;
}
/*specifies scrollbar dimensions and color incase theres too much content to fit on the screen vertically*/
::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*h2 is the class created to style the Magic Mirror div box located at the top of the page*/
h2 {
color: #cc9800;
font-weight: bold;
font-size: 60px;
font-family: 'Brandon Grotesque';
padding-left: 195px; /*This padding left goes hand in hand with the padding left under the weather class since they are on the same axis*/
}
/*h3 is the class created to style the Menu div box located on the left hand side of the page */
h3 {
color:#cc9800;
font-family: 'Brandon Grotesque';
  text-align: center;
  font-size: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

}
/*h4 is the class created to style the Days until graduation div box loacted right underneath the menu div box on the left hand side of the page */
h4 {
color:#cc9800;
font-family: 'Brandon Grotesque';
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  /* text-decoration: underline; */
}
/*The screen is broken up into two sections, a non-mirror side and a mirror side. The non-mirror side is where the menu and the days until graduation goes, 
* while the mirror-side has the main content for the day. By specifying a 25% to 75 percent ratio, we divide keep 1/4 of the page for the non mirror side 
* and 3/4 of the page for the mirror side*/
.first-column {
width: 25%; /*1/4 of the non-mirror side*/
padding-top:85px;
padding-left:120px;
float: left;
text-align: center;

}

.second-column {
width: 75%; /*3/4 of the mirror side*/
padding-top:85px;
float: right;
text-align: center;
display: inline;
}
/*we used the grid feature to place the different feeds in various sections on the mirror side of the monitor */

.grid-container {
  display: grid;
  
}
/*this just specifies how we want the elements in our grid to be styled*/
.grid-item {
  color:#cc9800;
  font-family: 'Brandon Grotesque';
  font-size: 23px;

}
/* p vs p2 - p is usuallt the title or the bigger text and p2 is the smaller text*/
.grid-item p{
  color: #cc9800;
  font-family: 'Brandon Grotesque';
  text-align: center;
  font-size: 23px;
  /* text-decoration: underline; */
}

.grid-item p2{
  color: #cc9800;
  font-family: 'Brandon Grotesque';
  text-align: center;
  font-size: 23px;
  /* text-decoration: underline; */
  padding-right:170px;

}
/*item 1 corresponds to the time, daily schedule, and athletics schedule that are located on the left side of the mirror side*/
.item1 {
  grid-column: 1 ;
  grid-row: 1;
  padding-left: 50px;
}
/*item 2 currently doesn't correspond to anything because we are stacking the athletics schedule right underneath the daily schedule and expanding 
* item 1 to essentially span the entire left side of the mirror side.*/
.item2{
  grid-column: 1 ;
  grid-row: 2;
  padding-left: 45x;
  padding-top:5px;
  /* display:inline-flex; */
}
/*item 3 corresponds to the Upcoming Events and Pictures of the week section that are located on the right side of the mirror side*/
.item3 {
  grid-column: 3;
  grid-row: 1 / span 2;
 
}
/*the calligram class is used to style the daily schedule pictures which are changed each period*/
.calligram{
  max-width: 400px;
  height:200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

}
/* the logo class is used to style the peddie logo which is at the very top of the page on the left non-mirror side*/
.logo{
  max-width: 200px;
  height:65px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
/*this feature has been removed for now but this was used to style the div box which featured what the current block is*/
.currentblock{
color: #cc9800;
font-size:17px;
font-family: sans-serif;
display: inline-flex;
}
/*the menu class is used to style the text in the menu2.txt  */
.menu{
color:white;
font-size:8px;
font-family: sans-serif;
display: inline-flex;
text-align:left;
}
/*the athletics class is used to style the text in the athletics4.txt  */
.athletics{
 color:white;
font-size:7.5px;
font-family: sans-serif;
display: inline-flex;
text-align: left;
vertical-align: top;
}
/*the calendar class is used to style the text in the calendar2.txt  */
.calendar{
color:white;
font-size:8px;
font-family: sans-serif;
display: inline-flex;
padding-right:220px;
text-align: left;
text-justify: inter-word;
}

/*the counter class is used to style the text in the counter.txt  */
.counter{
color:white;
font-size:17px;
font-family: sans-serif;
display: inline-flex;
text-align: center;
vertical-align: top;
}
/*the student_section class is used to style the pictues from the Flickr feed for pictures of the week  */
.student_section{
color: #cc9800;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  padding-right:170px;
}
.student_section2{
  padding-top:5px;
  padding-right:210px;
}
.magic-mirror{
display: inline-flex;
}
.embed-responsive{
height: 240px !important;

}
.embed-responsive-item {
height: 240px !important;

} 
/*the signature class is used to style the text telling students where to submit their pictures */
.signature{
color: #cc9800;
font-family: sans-serif;
text-align: right;
font-size: 8px;
padding-right:260px;
vertical-align: top;
position:relative;
bottom:30px !important;
/* padding-top:5px; */
}
.schedule{
display:flex;
margin-left: 25px;
}

/*the weather class is used to style the text in the weather.txt  */
.weather {
  color: #cc9800;
  font-size: 12px;
  font-family: sans-serif;
  display: inline-flex;
  text-align: left;
  vertical-align: middle;
  padding-left: 0px;
  /*this works together with the padding left located in h2 because the weather and Magic Mirror text are on the same axis*/
  padding-top: 0px;
  line-height: 120%;
}

.weather_img {
  height: 64px;
  vertical-align: middle;
}

/*used in temperature display*/
.temp {
  color: #cc9800;
  font-size: 48px;
  font-family: sans-serif;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  padding-left: 0px;
  /*this works together with the padding left located in h2 because the weather and Magic Mirror text are on the same axis*/
  padding-top: 0px;
}

/* grid container for weather info */
.weather-grid-container {
  display: grid;
  grid-template-columns: auto min-content auto;
  align-items: center;
}

/* grid item for weather image icon */
.weather-grid-item1 {
  grid-column: 1;
  justify-self: right;
}

/* grid item for temperature info */
.weather-grid-item2 {
  grid-column: 2;
  justify-self: auto;
}

/* grid item for weather additional info */
.weather-grid-item3 {
  grid-column: 3;
  justify-self: left;
  padding: 5px;
}