title-widget {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.school-img {
    height: 200px;
    grid-row: 1;
}

.score-value {
    grid-row: 1;
    width: max-content;
    color: white;
    font-size: 240px;
    /* font-family: sans-serif; */
    display: flex;
    vertical-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    line-height: 200px;
}

#total-score-display {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: max-content;
    text-align: center;
    margin: auto;
}

.grid-container p{
    color: white;
    font-style: italic;
    text-align: center;
}

.wins, .ties h4 {
    padding-top: 30px;
    /* font-family: 'Brandon Grotesque', sans-serif; */
    font-style: italic;
}

#peddie-wins {
    padding-right: 20px;
    text-align: center;
}

#peddie-wins p {
    color: var(--peddie-gold);
    text-align: center;
}

#blair-wins {
    padding-left: 20px;
    text-align: center;
}

#blair-wins p {
    color: white;
    text-align: center;
}

#peddie-score-value {
    padding-right: 3px;
}

#blair-score-value {
    padding-left: 3px;
}

.event-grid {
    display: grid;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: #ffffff; */
    border: none;

    /* grid-template-columns: auto auto auto auto; */
}

.event-name {
    grid-column: 1;
    border-top: 1px solid white;
    color: white;
}

.event-location {
    grid-column: 2;
    border-top: 1px solid white;
    color: white;
}